data/**/*.jsonl
data/**/*.tsv

out_map/**/*.jsonl
test.ipynb
!.gitkeep
!*/


__pycache__
/__pycache__/
/__pycache__/*

models--microsoft--codebert-base
/ models--microsoft--codebert-base/*
/ models--microsoft--codebert-base/

/.locks/
/.locks/*
/out_easy/
