data/**/*.jsonl
data/**/*.tsv

out_map/**/*.jsonl

!.gitkeep
!*/


__pycache__
/__pycache__/
/__pycache__/*

models--microsoft--codebert-base
/ models--microsoft--codebert-base/*
/ models--microsoft--codebert-base/

/.locks/
/.locks/*